.nav li {
    width: 25%;
    float: left;
}
.nav li a {
    color: #669933;
}
header .container {
    padding-top: 0px;
}
.black-text {
    color: #000;
    text-align: left;
    padding: 0 20px;
}
a {
    color: #693;
}
a:hover {
    color: #693;
}
.btn-outline {
    margin-top: 15px;
    background-color:#693;
    border:none;
    padding:5px 20px;
    font-size: 20px;
    color: #fff;
    transition: all .3s ease-in-out;
    -moz-border-radius-topleft: 56px;
-webkit-border-top-left-radius: 56px;
 border-top-left-radius: 56px;
-moz-border-radius-topright: 56px;
-webkit-border-top-right-radius: 56px;
border-top-right-radius: 56px;
-moz-border-radius-bottomright: 56px;
-webkit-border-bottom-right-radius: 56px;
border-bottom-right-radius: 56px;
-moz-border-radius-bottomleft: 56px;
-webkit-border-bottom-left-radius: 56px;
border-bottom-left-radius: 56px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
/*
    color: #693;
    background: #fff;
*/
    margin-top: 15px;
    background-color:#693;
    border:none;
    padding:5px 20px;
    font-size: 20px;
    color: #fff;
    transition: all .3s ease-in-out;
    -moz-border-radius-topleft: 56px;
-webkit-border-top-left-radius: 56px;
 border-top-left-radius: 56px;
-moz-border-radius-topright: 56px;
-webkit-border-top-right-radius: 56px;
border-top-right-radius: 56px;
-moz-border-radius-bottomright: 56px;
-webkit-border-bottom-right-radius: 56px;
border-bottom-right-radius: 56px;
-moz-border-radius-bottomleft: 56px;
-webkit-border-bottom-left-radius: 56px;
border-bottom-left-radius: 56px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

}
.center {
    text-align: center;
}
.nav li ul li {
    width: 100%;
    text-align: left;
}
.dropdown-menu li a:hover {
    background-color: #693;
}
.dropdown-menu {
    width: 100%;
}
.intro-text img {
    width:100%;
    max-width:300px;
}
header .intro-text .skills {
    display:block;
    clear:both;
}
/*
.dropdown-menu>li>a {
    display:inline;
}
*/

@media(max-width:600px) {
    .nav>li {
        position:static;
    }
    .nav li, .nav li li {
        float:left;
        display:block;
        clear:both;
        text-align:left;
        width: 100%;
    }
    .dropdown-menu {
        display:inline;
        clear:both;
        float:left;
        box-shadow: none;
        position:inherit;
        border:none;
        margin-left:10px;
        padding-top:0;
    }
}

h3.subsection-title{
    font-size:25px;
}
.tab-pane {
    padding:0px 40px;
     word-wrap: break-word;
}
.img-responsive {
    min-width:200px;
}
.img-container {
    width: 100%;
/* margin: 0 auto; */
display: block;
float: left;
}
.row {
    margin:0;
}
